:host {
  --background: #e6f0ff; /* Fondo azul muy suave */
}

ion-content {
  --background: #e6f0ff;
}

.panel-productos {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}
