:host { display:inline-block; }
.fav-btn {
  --background: transparent;
  border-radius: 18px;
  border: none;
  padding: 6px;
  display:flex;
  align-items:center;
  justify-content:center;
  box-shadow: 0 1px 3px rgba(0,0,0,.08);
  ion-icon { color: #c03d2f; font-size: 18px; }
}
button{
  cursor: pointer;
  background: transparent;
}